
p {
  max-height: 90px;
  overflow: hidden;
}
.paper {
  overflow: auto;
  padding: 20px;
  cursor: pointer;
  .image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    float: left;
    border-radius: 10px;
    margin-right: 10px;
  }
}